.round-button {
	--round-button-background: var(--color-gray0);
	--round-button-hover-background: var(--color-gray1);
	--box-shadow-color: 0;
	--outline-color: var(--color-primary);
	width: rem-calc(48);
	height: rem-calc(48);
	border-radius: rem-calc(48);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	appearance: none;
	border: none;
	background-color: var(--round-button-background);
	box-shadow: 0 0 #{rem-calc(16)} 0 rgba(var(--box-shadow-color), var(--box-shadow-color), var(--box-shadow-color), 0.15);
	animation-name: slideInButton;
	animation-duration: 500ms;
	animation-delay: 750ms;
	animation-timing-function: $ease-out-back;
	animation-fill-mode: forwards;
	transform: translateY(#{rem-calc(64)});

	&:focus,
	&:hover {
		background-color: var(--round-button-hover-background);
		box-shadow: 0 0 0 #{rem-calc(2)} var(--outline-color),
			0 0 #{rem-calc(24)} #{rem-calc(4)}
				rgba(var(--box-shadow-color), var(--box-shadow-color), var(--box-shadow-color), 0.15);
	}
}

html[data-theme="DARK"] .round-button {
	--round-button-background: var(--color-gray9);
	--round-button-hover-background: var(--color-gray8);
	--box-shadow-color: 255;
}

@keyframes slideInButton {
	from {
		transform: translateY(#{rem-calc(64)});
	}

	to {
		transform: translateY(0);
	}
}
