
@font-face {
    font-family:"Heuristica Regular";
    src:url("paperboy-content-regular.woff2") format("woff2"),url("paperboy-content-regular.woff") format("woff"),url("paperboy-content-regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        