.rc-tabs {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  &-tab {
    background-color: var(--color-white, $color-white);

    &:hover {
      background-color: var(--color-gray0, $color-gray0);
    }
  }
}

.rc-tabs-bar,
.rc-tabs-nav-container {
  font-size: rem-calc(16px);
  line-height: 1.5;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  outline: none;
  zoom: 1;
  transition: padding 450ms
    var(--default-timing-function, $default-timing-function);
}

.rc-tabs-ink-bar {
  z-index: 1;
  position: absolute;
  box-sizing: border-box;
  margin-top: -3px;
  background-color: var(--color-primary, $color-primary);
  transform-origin: 0 0;
  width: 0;
  height: 0;
}

.rc-tabs-ink-bar-animated {
  transition: transform 300ms
      var(--default-timing-function, $default-timing-function),
    left 300ms var(--default-timing-function, $default-timing-function),
    top 300ms var(--default-timing-function, $default-timing-function),
    height 300ms var(--default-timing-function, $default-timing-function),
    width 300ms var(--default-timing-function, $default-timing-function);
}

.rc-tabs-tab-prev,
.rc-tabs-tab-next {
  user-select: none;
  z-index: 1;
  line-height: rem-calc(36);
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
}

.rc-tabs-nav-wrap {
  overflow: hidden;
}

.rc-tabs-nav {
  box-sizing: border-box;
  padding-left: 0;
  position: relative;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  list-style: none;
  transform-origin: 0 0;
  background-color: var(--color-white, $color-white);

  > div {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}

.rc-tabs-nav-animated {
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: var(
    --default-timing-function,
    $default-timing-function
  );
}

.rc-tabs-nav {
  &:before {
    display: table;
    content: ' ';
  }
  &:after {
    display: table;
    content: ' ';
    clear: both;
  }
}

.rc-tabs-tab {
  box-sizing: border-box;
  position: relative;
  display: flex;
  transition-property: color;
  transition-duration: 300ms;
  transition-timing-function: var(
    --default-timing-function,
    $default-timing-function
  );
  padding: rem-calc(12) rem-calc(24);
  font-weight: 500;
  cursor: pointer;
  color: var(--color-gray5, $color-gray5);
  &:hover {
    color: var(--color-gray9, $color-gray9);
  }
}

.rc-tabs-tab-active {
  color: var(--color-gray8, $color-gray8);
  cursor: default;
  transform: translateZ(0);
  &:hover {
    color: var(--color-primary, $color-primary);
    cursor: default;
    transform: translateZ(0);
  }
}

.rc-tabs-tab-disabled {
  cursor: default;
  color: var(--color-gray4, $color-gray4);
  &:hover {
    color: var(--color-gray4, $color-gray4);
  }
}

.rc-tabs-content {
  zoom: 1;
  .rc-tabs-tabpane {
    overflow: auto;
  }
}

.rc-tabs-content-animated {
  transition: transform 300ms
      var(--default-timing-function, $default-timing-function),
    margin-left 300ms var(--default-timing-function, $default-timing-function),
    margin-top 300ms var(--default-timing-function, $default-timing-function);
  display: flex;
  will-change: transform;
  .rc-tabs-tabpane {
    flex-shrink: 0;
  }
}

.rc-tabs-top {
  border-bottom: 2px solid var(--color-gray1, $color-gray1);
  .rc-tabs-content {
    width: 100%;
  }
  .rc-tabs-bar {
    border-bottom: 1px solid var(--color-gray1, $color-gray1);
  }
  .rc-tabs-nav-container-scrolling {
    padding-left: rem-calc(32);
    padding-right: rem-calc(32);
  }
  .rc-tabs-nav-scroll {
    width: auto;
    max-width: rem-calc(99999);
  }
  .rc-tabs-nav-swipe {
    position: relative;
    left: 0;

    .rc-tabs-nav {
      display: flex;
      flex: 1;
      width: 100%;

      .rc-tabs-tab {
        display: flex;
        flex-shrink: 0;
        margin-right: 0;
        padding: rem-calc(10) 0;
        -ms-flex-pack: center;
        justify-content: center;
      }
    }
  }
  .rc-tabs-nav-wrap {
    width: 100%;
  }

  .rc-tabs-content-animated {
    flex-direction: row;
    .rc-tabs-tabpane {
      width: 100%;
    }
  }
  .rc-tabs-tab-next {
    right: 2px;
  }
  .rc-tabs-tab-next-icon:before {
    content: '>';
  }
  .rc-tabs-tab-prev {
    left: 0;
  }
  .rc-tabs-tab-prev-icon:before {
    content: '<';
  }
  .rc-tabs-tab-prev,
  .rc-tabs-tab-next {
    margin-right: -2px;
    width: 0;
    height: 0;
    top: 0;
    text-align: center;
    opacity: 0;
    transition: width 0.3s, height 0.3s, opacity 0.3s;
  }
  .rc-tabs-tab-arrow-show {
    opacity: 1;
    width: 32px;
    height: 100%;
  }
  .rc-tabs-ink-bar {
    height: 2px;
    bottom: 0;
    left: 0;
  }
  .rc-tabs-tab {
    float: left;
    height: 100%;
    margin-right: rem-calc(4);
  }
  .rc-tabs-tabpane-inactive {
    height: 0;
    overflow: visible;
  }
}
