@include css-vars(
	(
		--color-primary: $color-primary,
		--color-select: $color-select,
		--color-select-gradient: lighten($color-select, 5%),
		--color-white: $color-white,
		--color-gray0: $color-gray0,
		--color-gray1: $color-gray1,
		--color-gray2: $color-gray2,
		--color-gray3: $color-gray3,
		--color-gray4: $color-gray4,
		--color-gray5: $color-gray5,
		--color-gray6: $color-gray6,
		--color-gray7: $color-gray7,
		--color-gray8: $color-gray8,
		--color-gray9: $color-gray9,
		--color-black: $color-black,
		--body-background: $body-background,
		--body-font-color: $body-font-color,
		--footer-background: #0d182a,
		--top-navigation-bar-height: $top-navigation-bar-height,
		--bottom-navigation-bar-height: $bottom-navigation-bar-height,
		--bottom-navigation-background-color:
			$bottom-navigation-background-color,
		--bottom-navigation-text-color: $bottom-navigation-text-color,
		--button-radius: $button-radius,
		--heading-font-family: $heading-font-family,
		--body-font-family: $body-font-family,
		--content-font-family: $content-font-family,
		--global-margin: rem-calc(16),
		--global-padding: rem-calc(16),
		--global-font-size: $global-font-size,
		--global-width: $global-width,
		--global-lineheight: $ratio,
		--global-shadow: $global-shadow,
		--global-weight-normal: $global-weight-normal,
		--global-weight-bold: $global-weight-bold,
		--global-radius: $global-radius,
		--body-antialiased: $body-antialiased,
		--top-navigation-bar-detail-background: transparent,
		--top-navigation-bar--detail-foreground: $color-white,
		--color-anchor: $color-white,
		--color-anchor-hover: #f9f9f9,
		--anchor-text-decoration: $anchor-text-decoration,
		--anchor-text-decoration-hover: $anchor-text-decoration-hover,
		--default-timing-function: $default-timing-function,
		--breakpoint-medium: 'all and (min-width: #{$breakpoint-medium})',
		--breakpoint-large: 'all and (min-width: #{$breakpoint-large})',
		--breakpoint-xlarge: 'all and (min-width: #{$breakpoint-xlarge})',
		--breakpoint-xxlarge: 'all and (min-width: #{$breakpoint-xxlarge})',
		--viewport-height-unit: $viewport-unit,
		--viewport-height: calc(var(--viewport-height-unit, 1vh) * 100),
		--tabs-background: $tabs-background,
		--tabs-container-height: $tabs-container-height,
		--tabs-header-border-bottom: $tabs-header-bottom,
		--tabs-header-position: $tabs-header-position,
		--tabs-header-position-scrolling: $tabs-header-position-scrolling,
		--tabs-header-indicator: $tabs-header-indicator,
		--tabs-header-font-size: $tabs-header-font-size,
		--tabs-header-font-family: $tabs-header-font-family,
		--tabs-header-color: $tabs-header-color,
		--tabs-header-color-selected: $tabs-header-color-selected,
		--content-lead-color: var(--color-gray9),
		--content-paragraph-color: var(--color-gray9),
		--base-font-ratio: $base-font-ratio,
	)
);

:root {
	&[data-theme='LIGHT'] {
		--color-primary: #{$color-primary};
		--color-select: #{$color-select};
		--color-select-gradient: #{lighten($color-select, 5%)};
		--color-white: #{$color-white};
		--color-gray0: #{$color-gray0};
		--color-gray1: #{$color-gray1};
		--color-gray2: #{$color-gray2};
		--color-gray3: #{$color-gray3};
		--color-gray4: #{$color-gray4};
		--color-gray5: #{$color-gray5};
		--color-gray6: #{$color-gray6};
		--color-gray7: #{$color-gray7};
		--color-gray8: #{$color-gray8};
		--color-gray9: #{$color-gray9};
		--color-black: #{$color-black};
		--body-background: #{$body-background};
		--body-font-color: #{$body-font-color};
		--top-navigation-bar-height: #{$top-navigation-bar-height};
		--bottom-navigation-background-color: #{$bottom-navigation-background-color};
		--bottom-navigation-text-color: #{$bottom-navigation-text-color};
		--top-navigation-bar-detail-background: transparent;
		--top-navigation-bar--detail-foreground: #{$color-white};
		--color-anchor: #{$color-white};
		--color-anchor-hover: #f9f9f9;
		--anchor-text-decoration: #{$anchor-text-decoration};
		--anchor-text-decoration-hover: #{$anchor-text-decoration-hover};
		--tabs-background: #{$tabs-background};
		--tabs-header-indicator: #{$tabs-header-indicator};
		--tabs-header-border-bottom: #{$tabs-header-bottom};
		--tabs-header-color: #{$tabs-header-color};
		--tabs-header-color-selected: #{$tabs-header-color-selected};
		--heading-1-color: #{$color-gray9};
		--subtitle-color: hsla(5, 61%, 50%, 1);
		--lead-color: #{color-gray8};
		--cta-shadow-color-hue: 6;
	}

	&[data-theme='DARK'] {
		--color-primary: #{$color-select};
		--color-select: #{$color-primary};
		--color-select-gradient: #{lighten($color-select, 5%)};
		--color-gray0: #f8f9fa;
		--color-gray1: #ebedf0;
		--color-gray2: #dde0e5;
		--color-gray3: #ced3d9;
		--color-gray4: #bec4cc;
		--color-gray5: #acb3be;
		--color-gray6: #97a0ae;
		--color-gray7: #7f8999;
		--color-gray8: #646c78;
		--color-gray9: #3a3f46;
		--color-black: #1c1e22;
		--body-background: var(--color-black);
		--body-font-color: var(--color-gray0);
		--top-navigation-bar-height: #{$top-navigation-bar-height};
		--bottom-navigation-background-color: #{$bottom-navigation-background-color};
		--bottom-navigation-text-color: #{$bottom-navigation-text-color};
		--top-navigation-bar-detail-background: transparent;
		--top-navigation-bar--detail-foreground: #{$color-white};
		--color-anchor: #{$color-white};
		--color-anchor-hover: #f9f9f9;
		--anchor-text-decoration: #{$anchor-text-decoration};
		--anchor-text-decoration-hover: #{$anchor-text-decoration-hover};
		--tabs-background: var(--color-black);
		--tabs-header-indicator: var(--color-primary);
		--tabs-header-border-bottom: var(--color-black);
		--tabs-header-color: var(--color-gray3);
		--tabs-header-color-selected: var(--color-gray0);
		--heading-1-color: #{$color-gray2};
		--subtitle-color: #{$color-gray5};
		--lead-color: #{color-gray3};
		--cta-shadow-color-hue: 212;
		--content-lead-color: var(--color-gray2);
		--content-paragraph-color: var(--color-gray3);
	}
}

html {
	box-sizing: border-box; // 1
	font-family: var(--body-font-family, $body-font-family);
	font-size: 16px; // 2
	line-height: $ratio;
	height: 100%; // 3
	-webkit-text-size-adjust: 100%; // 4
	-ms-text-size-adjust: 100%; // 4
	-ms-overflow-style: scrollbar; // 5
	-webkit-tap-highlight-color: hsla(0, 0%, 0%, 0); // 6
	-webkit-font-smoothing: antialiased;

	&.theme-transition,
	&.theme-transition *,
	&.theme-transition *:before,
	&.theme-transition *:after {
		transition: all 750ms !important;
		transition-delay: 0 !important;
	}
}

*,
*::before,
*::after {
	box-sizing: inherit;
	transition: all 200ms
		var(--default-timing-function, $default-timing-function); // 1
}

*:focus {
	outline-color: var(--color-gray1, $color-gray1);
	outline-width: 1px;
	outline-style: solid;
}

::-moz-selection,
::selection {
	color: var(--color-white);
	background: var(--color-primary);
}

// Hides the scrollbar
::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: transparent;
}

// Shim for "new" HTML5 structural elements to display correctly (IE10, older browsers)
article,
aside,
dialog,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
	display: block;
}

body {
	margin: 0; // 1
	font-family: var(--body-font-family, $body-font-family);
	font-size: var(--global-font-size, $global-font-size);
	font-weight: var(--global-weight-normal, $global-weight-normal);
	line-height: var(--global-lineheight, $global-lineheight);
	color: var(--body-font-color, $body-font-color);
	background-color: var(--body-background, $body-background);
	min-height: 100%;
	-webkit-overflow-scrolling: touch;
}

::-webkit-scrollbar {
	display: none;
}

#___gatsby,
#device-audit,
#no-javascript {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

.no-javascript {
	background-color: var(--color-primary);
	color: var(--color-white);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: var(--global-padding);
	margin: 0;
	z-index: 100;
}

// Suppress the focus outline on elements that cannot be accessed via keyboard.
// This prevents an unwanted focus outline from appearing around elements that
// might still respond to pointer events.
//
// Credit: https://github.com/suitcss/base
[tabindex='-1']:focus {
	outline: none !important;
	user-select: none;
	pointer-events: none;
}

// Content grouping
//
// 1. Add the correct box sizing in Firefox.
// 2. Show the overflow in Edge and IE.
hr {
	box-sizing: content-box; // 1
	height: 0; // 1
	overflow: visible; // 2
}

//
// Typography
//
// Remove top margins from headings
//
// By default, `<h1>`-`<h6>` all receive top and bottom margins. We nuke the top
// margin for easier control within type scales as it avoids margin collapsing.
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	margin-bottom: calc(var(--global-margin, $global-margin) * 0.5);
	font-family: var(--heading-font-family, $heading-font-family);
}

// Reset margins on paragraphs
//
// Similarly, the top margin on `<p>`s get reset. However, we also reset the
// bottom margin to use `rem` units instead of `em`.
p {
	margin-top: 0;
	margin-bottom: var(--global-margin, $global-margin);
	font-size: rem-calc(20);
	line-height: var(--global-ratio, $global-ratio);
}

// Abbreviations
//
// 1. Remove the bottom border in Firefox 39-.
// 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
// 3. Add explicit cursor to indicate changed behavior.
// 4. Duplicate behavior to the data-* attribute for our tooltip plugin
abbr[title],
abbr[data-original-title] {
	// 4
	text-decoration: underline; // 2
	text-decoration: underline dotted; // 2
	cursor: help; // 3
	border-bottom: 0; // 1
}

address {
	margin-bottom: var(--global-margin, $global-margin);
	font-style: normal;
	line-height: inherit;
}

ol,
ul,
dl {
	margin-top: 0;
	margin-bottom: var(--global-margin, $global-margin);
}

ol ol,
ul ul,
ol ul,
ul ol {
	margin-bottom: 0;
}

dt {
	font-weight: var(--global-weight-normal, $global-weight-normal);
}

dd {
	margin-bottom: calc(var(--global-margin, $global-margin) * 0.5);
	margin-left: 0; // Undo browser default
}

blockquote {
	margin: 0 0 var(--global-margin, $global-margin);
}

dfn {
	font-style: italic; // Add the correct font style in Android 4.3-
}

b,
strong {
	font-weight: bolder; // Add the correct font weight in Chrome, Edge, and Safari
}

small {
	font-size: 80%; // Add the correct font size in all browsers
}

//
// Prevent `sub` and `sup` elements from affecting the line height in
// all browsers.
//
sub,
sup {
	position: relative;
	font-size: 75%;
	line-height: 0;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

//
// Links
//
a {
	color: var(--color-anchor, $color-anchor);
	text-decoration: var(--anchor-text-decoration, $anchor-text-decoration);
	background-color: transparent; // Remove the gray background on active links in IE 10.
	-webkit-text-decoration-skip: objects; // Remove gaps in links underline in iOS 8+ and Safari 8+.

	&:hover {
		color: var(--color-anchor-hover, $color-anchor-hover);
		text-decoration: var(
			--anchor-text-decoration-hover,
			$anchor-text-decoration-hover
		);
	}
}

// And undo these styles for placeholder links/named anchors (without href)
// which have not been made explicitly keyboard-focusable (without tabindex).
// It would be more straightforward to just use a[href] in previous block, but that
// causes specificity issues in many other styles that are too complex to fix.
// See https://github.com/twbs/bootstrap/issues/19402
a:not([href]):not([tabindex]) {
	color: inherit;
	text-decoration: none;

	&:hover,
	&:focus {
		color: inherit;
		text-decoration: none;
	}

	&:focus {
		outline: 0;
	}
}

//
// Code
//
pre,
code,
kbd,
samp {
	font-family: 'Dank Mono', 'Fira Code', monospace; // Correct the inheritance and scaling of font size in all browsers.
	font-size: 1em; // Correct the odd `em` font sizing in all browsers.
}

pre {
	// Remove browser default top margin
	margin-top: 0; // Reset browser default of `1em` to use `rem`s
	margin-bottom: 1rem; // Don't allow content to break outside
	overflow: auto;
}

//
// Figures
//
figure {
	// Apply a consistent margin strategy (matches our type styles).
	margin: 0;
}

//
// Images and content
//
img {
	vertical-align: middle;
	border-style: none;
	object-fit: cover;
	object-position: center center;
	// Remove the border on images inside links in IE 10-.
}

svg:not(:root) {
	overflow: hidden; // Hide the overflow in IE
}

// Avoid 300ms click delay on touch devices that support the `touch-action` CSS property.
//
// In particular, unlike most other browsers, IE11+Edge on Windows 10 on touch devices and IE Mobile 10-11
// DON'T remove the click delay when `<meta name="viewport" content="width=device-width">` is present.
// However, they DO support removing the click delay via `touch-action: manipulation`.
// See:
// * https://v4-alpha.getbootstrap.com/content/reboot/#click-delay-optimization-for-touch
// * http://caniuse.com/#feat=css-touch-action
// * https://patrickhlauke.github.io/touch/tests/results/#suppressing-300ms-delay
a,
area,
button,
[role='button'],
input,
label,
select,
summary,
textarea {
	touch-action: manipulation;
}

//
// Tables
//
table {
	border-collapse: collapse; // Prevent double borders
}

caption {
	padding-top: var(--global-padding, $global-padding);
	padding-bottom: var(--global-padding, $global-padding);
	color: var(--color-gray8, $color-gray8);
	text-align: left;
	caption-side: bottom;
}

th {
	// Matches default `<td>` alignment
	text-align: left;
}

//
// Forms
//
label {
	// Allow labels to use `margin` for spacing.
	display: inline-block;
	margin-bottom: rem-calc(8);
}

// Work around a Firefox/IE bug where the transparent `button` background
// results in a loss of the default `button` focus styles.
//
// Credit: https://github.com/suitcss/base/
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	/* 1 */
	font-size: 100%;
	/* 1 */
	line-height: 1.15;
	/* 1 */
	margin: 0;
	/* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
	/* 1 */
	overflow: visible;

	&:focus {
		outline: none;
	}
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
	/* 1 */
	text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
	outline: 1px dotted var(--color-gray2, $color-gray2);
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type='checkbox'],
[type='radio'] {
	box-sizing: border-box;
	/* 1 */
	padding: 0;
	/* 2 */
}

input[type='date'],
input[type='time'],
input[type='datetime-local'],
input[type='month'] {
	// Remove the default appearance of temporal inputs to avoid a Mobile Safari
	// bug where setting a custom line-height prevents text from being vertically
	// centered within the input.
	// See https://bugs.webkit.org/show_bug.cgi?id=139848
	// and https://github.com/twbs/bootstrap/issues/11266
	-webkit-appearance: listbox;
}

textarea {
	overflow: auto; // Remove the default vertical scrollbar in IE.
	// Textareas should really only resize vertically so they don't break their (horizontal) containers.
	resize: vertical;
}

fieldset {
	// Browsers set a default `min-width: min-content;` on fieldsets,
	// unlike e.g. `<div>`s, which have `min-width: 0;` by default.
	// So we reset that to ensure fieldsets behave more like a standard block element.
	// See https://github.com/twbs/bootstrap/issues/12359
	// and https://html.spec.whatwg.org/multipage/#the-fieldset-and-legend-elements
	min-width: 0; // Reset the default outline behavior of fieldsets so they don't affect page layout.
	padding: 0;
	margin: 0;
	border: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
	box-sizing: border-box;
	/* 1 */
	color: inherit;
	/* 2 */
	display: table;
	/* 1 */
	max-width: 100%;
	/* 1 */
	padding: 0;
	/* 3 */
	white-space: normal;
	/* 1 */
}

progress {
	vertical-align: baseline; // Add the correct vertical alignment in Chrome, Firefox, and Opera.
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type='number']::-webkit-inner-spin-button,
[type='number']::-webkit-outer-spin-button {
	height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type='search'] {
	-webkit-appearance: textfield;
	/* 1 */
	outline-offset: -2px;
	/* 2 */
}

//
// Remove the inner padding and cancel buttons in Chrome and Safari on macOS.
//
[type='search']::-webkit-search-cancel-button,
[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
	-webkit-appearance: button;
	/* 1 */
	font: inherit;
	/* 2 */
}

//
// Correct element displays
//
output {
	display: inline-block;
}

summary {
	display: list-item; // Add the correct display in all browsers
}

template {
	display: none; // Add the correct display in IE
}

// Always hide an element with the `hidden` HTML attribute (from PureCSS).
// Needed for proper display in IE 10-.
[hidden] {
	display: none !important;
}

.main {
	width: 100%;
}

.skip-main {
	&:not(:focus) {
		left: -999px;
		bottom: 0;
		white-space: nowrap;
		width: 1px;
		height: 1px;
		overflow: hidden;
		border: 0;
		padding: 0;
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		margin: -1px;
	}

	display: flex;
	justify-content: center;
	outline-color: var(--color-gray1, $color-gray1);

	position: fixed;
	bottom: rem-calc(64);
	left: 0;
	right: 0;

	width: calc(100% - #{rem-calc(180)});
	height: rem-calc(36);
	text-align: center;
	font-size: rem-calc(12);
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: rem-calc(36);

	padding: 0 rem-calc(8);
	margin-right: auto;
	margin-left: auto;

	background-color: var(--color-black, $color-black);
	border-radius: rem-calc(36);
	z-index: 1;

	text-decoration: none;

	&,
	&:focus {
		color: var(--color-white, $color-white);
	}

	@media all and (min-width: rem-calc(640)) {
		width: rem-calc(200);
	}

	@media all and (min-width: rem-calc(1024)) {
		position: absolute;
		top: rem-calc(64);
	}
}

.screen-readers {
	position: absolute;
	width: 0.0625em;
	height: 0.0625em;
	padding: 0;
	margin: -0.0625em;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.layout {
	&__container {
		width: 100%;
		max-width: calc(100% - #{var(--global-padding, $global-padding)});
		margin: 0 auto;

		@media all and (min-width: rem-calc(1024)) {
			max-width: calc(100% - #{rem-calc(32)});
		}

		@media all and (min-width: rem-calc(1200)) {
			max-width: calc(100% - #{rem-calc(64)});
		}

		@media all and (min-width: rem-calc(1400)) {
			max-width: rem-calc(1400);
		}
	}
}
