//  Settings
//  -----------------------------
//
$golden-ratio: 1.61803398875;
$ratio: $golden-ratio;
$viewport-unit: 1vh;

// 1. Global
// ---------
$top-navigation-bar-height: rem-calc(48);

// 2. Breakpoints
// --------------
$breakpoint-medium: rem-calc(640);
$breakpoint-large: rem-calc(1024);
$breakpoint-xlarge: rem-calc(1200);
$breakpoint-xxlarge: rem-calc(1440);

// Colors
$color-primary: hsla(6, 78%, 57%, 1);
$color-select: #3c83e7;
$color-white: #ffffff;
$color-gray0: #faf9f8;
$color-gray1: #f0ecec;
$color-gray2: #e5dfde;
$color-gray3: #dad0cf;
$color-gray4: #cdc1bf;
$color-gray5: #bfafad;
$color-gray6: #af9b98;
$color-gray7: #9b8380;
$color-gray8: #7a6765;
$color-gray9: #473c3b;
$color-black: #0b0909;
$cta: $color-select;

$global-font-size: 100%;
$base-font-ratio: 1;
$global-width: rem-calc(1200);
$global-lineheight: $ratio;
$global-shadow: 0 2px 4px 0 hsla(0, 0%, 0%, 0.2), 0 -1px 0 0 hsla(0, 0%, 0%, 0.02);
$body-background: $color-gray0;
$body-font-color: $color-black;
$heading-font-family: "paperboy-font-bold", -apple-system, BlinkMacSystemFont, "Open Sans", "Roboto", "Segoe UI", Roboto,
	Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$body-font-family: "paperboy-font-regular", -apple-system, BlinkMacSystemFont, "Open Sans", "Roboto", "Segoe UI", Roboto,
	Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
$content-font-family: "paperboy-content-regular", Times, Georgia, serif;
$body-antialiased: true;
$global-margin: 1rem;
$global-padding: 1rem;
$global-position: 1rem;
$global-weight-normal: normal;
$global-weight-bold: bold;
$global-radius: 0.25rem;
$global-ratio: $ratio;
$color-anchor: $color-primary;
$color-anchor-hover: scale-color($color-anchor, $lightness: -14%);
$anchor-text-decoration: none;
$anchor-text-decoration-hover: none;
$footer-background: #0d182a;

// Easings
// -----------
$ease-in-sine: cubic-bezier(0.47, 0, 0.745, 0.715);
$ease-out-sine: cubic-bezier(0.39, 0.575, 0.565, 1);
$ease-in-out-sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
$ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
$ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
$ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
$ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);
$ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);
$ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
$ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
$ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
$ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
$ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
$ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
$ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
$ease-in-back: cubic-bezier(0.6, -0.28, 0.735, 0.045);
$ease-out-back: cubic-bezier(0.175, 0.885, 0.32, 1.275);
$ease-in-out-back: cubic-bezier(0.68, -0.55, 0.265, 1.55);

$default-timing-function: $ease-in-out-circ;

// Page Tabs
// ------------------
$tabs-background: $color-white;

$tabs-container-height: calc(
	var(--viewport-height) - (var(--bottom-navigation-bar-height) + #{$top-navigation-bar-height})
);
$tabs-header-bottom: 1px solid #b2b2b2;
$tabs-header-position: sticky;
$tabs-header-position-scrolling: fixed;
$tabs-header-indicator: $color-primary;
$tabs-header-font-size: 0.875rem;
$tabs-header-font-family: $body-font-family;
$tabs-header-color: $color-gray9;
$tabs-header-color-selected: $color-primary;

// Bottom Navigation
// ------------------
$bottom-navigation-background-color: $color-black;
$bottom-navigation-text-color: $color-white;
$bottom-navigation-bar-height: rem-calc(56);
$button-radius: $bottom-navigation-bar-height;
