// Font-weight: bold
@font-face {
	font-family: 'paperboy-font-bold';
	src: url('/fonts/paperboy/headings/bold/paperboy-headings-bold.woff2') format('woff2'),
		url('/fonts/paperboy/headings/bold/paperboy-headings-bold.woff') format('woff'),
		url('/fonts/paperboy/headings/bold/paperboy-headings-bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
	font-display: swap;
}

// Font-weight: light
@font-face {
	font-family: 'paperboy-font-regular';
	src: url('/fonts/paperboy/headings/regular/paperboy-headings-regular.woff2') format('woff2'),
		url('/fonts/paperboy/headings/regular/paperboy-headings-regular.woff') format('woff'),
		url('/fonts/paperboy/headings/regular/paperboy-headings-regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}

@font-face {
	font-family: 'paperboy-content-regular';
	src: url('/fonts/paperboy/content/regular/paperboy-content-regular.woff2') format('woff2'),
		url('/fonts/paperboy/content/regular/paperboy-content-regular.woff') format('woff'),
		url('/fonts/paperboy/content/regular/paperboy-content-regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
